/*Maak hier jouw CSS!*/
:root {
    --gap: 16px;
}
html {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    background-color: antiquewhite;
    padding: 30px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px calc(240px - calc(50px + var(--gap))) 100px 1fr 50px;
    gap: var(--gap);
    grid-template-areas:
            "a c c"
            "b c c"
            "b e d"
            "b e ."
            "f f f";
}
.item {
    background-color: firebrick;
    color: white;
    padding: 10px;
    text-align: center;
}

.item-a {
    grid-area:a;
}

.item-b {
    grid-area:b;
    text-align: left;
}

.item-c {
    grid-area:c;
}

.item-d {
    grid-area:d;
}

.item-e {
    grid-area:e;
}

.item-f {
    grid-area:f;
}

/* --------------->media query <-------------------*/

@media screen and (max-width:768px) {

    .grid-container {
        display: grid;
        background-color: antiquewhite;
        padding: 30px 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 50px 50px 50px 50px 50px;
        gap: var(--gap);
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "."
            "f";
    }
}